<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Artcred</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <meta property="og:url" content="https://artcred.com" />
    <meta property="og:title" content="Artcred is art investment for everyone else" />
    <meta property="og:description" content="Artcred makes investing in art convenient and fun. Start growing your wealth quickly with the click of a button and trade art in real time with other investors. We empower anyone to make art work for them." />
    <meta property="og:image" content="https://artcred.com/images/banner.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/jpeg" />
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/build/style.css">
    <base href="/">
</head>